* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(to left, #aec, #bda, #aec);
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    padding: 12px 14px;
    color: white;
}